In [1]:
import duckdb
import pandas as pd
import os
from datetime import datetime

In [2]:
conn = duckdb.connect(database='data_duckdb.db', read_only=False)

In [10]:
# Loading data


data_ingestion = datetime.now()

df = pd.read_csv('C:/Users/JéssicaNadalete/Desktop/Pessoal/Estudos/Data Engineering/Pós/2 Module/Repos/first_project_pos/landing/z0019_2.csv', sep=';')

In [11]:
# Adding control columns
file = 'z0019_2.csv'
df['name_file'] = file
df['date_ingestion'] = data_ingestion

In [12]:
df

   NATBR    MAKTX WERKS  MAINS  LABST    name_file             date_ingestion
0  10004    SERRA  BT50    100    200  z0019_2.csv 2025-04-20 09:21:33.421997
1  10005  MACHADO  BT50    100    100  z0019_2.csv 2025-04-20 09:21:33.421997
2  10006    PREGO  BT10    100     60  z0019_2.csv 2025-04-20 09:21:33.421997

In [ ]:
#conn.execute("DROP TABLE IF EXISTS bronze_products")

In [7]:
conn.execute("""
CREATE TABLE IF NOT EXISTS bronze_products(
             NATBR VARCHAR,
             MAKTX VARCHAR,
             WERKS VARCHAR,
             MAINS VARCHAR,
             LABST VARCHAR,
             name_file VARCHAR,
             date_ingestion TIMESTAMP)
             """)

In [13]:
conn.execute("INSERT INTO bronze_products SELECT * FROM df")

In [14]:
result = conn.execute("SELECT * FROM bronze_products"). fetchdf()
result.head()

   NATBR     MAKTX WERKS MAINS LABST    name_file             date_ingestion
0  10001  PARAFUSO  BT10   100   100  z0019_1.csv 2025-04-20 09:20:09.654996
1  10002   MARTELO  BT50   100  1500  z0019_1.csv 2025-04-20 09:20:09.654996
2  10003     PREGO  BT10   100    50  z0019_1.csv 2025-04-20 09:20:09.654996
3  10004     SERRA  BT50   100   200  z0019_2.csv 2025-04-20 09:21:33.421997
4  10005   MACHADO  BT50   100   100  z0019_2.csv 2025-04-20 09:21:33.421997

In [15]:
conn.execute("ALTER TABLE bronze_products RENAME TO bronze_z0019")

In [16]:
conn.close()